
.App{
  height:80vh;
  width: 99.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  

}

.main-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SmallSqrDiv{
  border: 1px solid black;
  border-radius:10px ;
  height: 125px;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SmallSqrDiv:hover{
  height: 126px;
  background-color: rgba(138, 43, 226,0.4);
  border: 1px dashed black;
  border-radius: 20px;
  transition: 500ms;
}

.player-turn{
  height: 10%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main{
  height: 50%;
}

.winner{
  margin-top:20px ;
  height: 10%;
  font-size: 2rem;
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.winner button{
  width: 30%;
  height: 100%;
  border: 1px solid black;
  background: none;
  font-size: 1.3rem;
  padding: auto;
  font-family: cursive;
  border-radius:15px ;
}

.winner button:hover{
  background-color: blue;
  color: white;
  transition: 300ms;
  cursor: pointer;
}

.game{
margin-top: 20px;
display: flex;
justify-content: space-around;

}

.game button{
  font-size:1.5rem ;
  background-color: none;
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;

}



.game button:hover{
  background-color: aqua;
  border-radius: 15px;
  transition: 300ms;
}